{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Welcome to the CompTIA Security+ Practice Exam</h1>
    <h2>Select an Exam to Start</h2>
    <form action="/start" method="post" class="exam-form">
        <select name="exam_name" class="exam-select">
            {% for key in exam_keys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="start-button">Start Exam</button>
    </form>
    <header class="attribution">
        <p>This project uses practice exams created by Professor Messer. All rights reserved by the original author. For more information and resources, visit <a href="https://www.professormesser.com/" target="_blank">Professor Messer's website</a>.</p>
    </header>
</div>
{% endblock %}